.App {
  text-align: center;
  display: flex;
  border: 2px rgb(53, 221, 61) solid;
  background-color: rgb(235, 235, 235);
}

body::-webkit-scrollbar-track {
  background: black;
}

#header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(63, 218, 89);
}

/* _______________________________________________ */

#header h1 {
  margin: 0;
  /* font-family: "Roboto"; */
  font-size: 4rem;
  color: white;
  padding: 1rem;
}

#header span {
  font-size: 1rem;
}

#header img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 60px;
  transform: translate(0%, -50%);
  margin-left: 1rem;
}

/* ___________________________________________ */

#page-content {
  margin: 0 15% 0 15%;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
}


/* NAVBAR */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(43, 43, 43); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  /* padding-top: 60px; */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidebar */
}

nav .close-icon {
  /* border: 1px solid white; */
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
}

nav a { text-decoration: none; }

nav p {
  font-size: 1.2rem;
  color: white;
  position: relative;
  width: fit-content;
}

nav p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(238, 238, 238);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav p:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


nav h3 {
  color: rgb(189, 189, 189);
  text-decoration: underline;
}


.section-title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(103, 141, 180);
  /* font-weight: 200; */
  margin:0;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: start;
  background-color: rgb(204, 227, 238);
}

.subsection {
  background-color: white;
}

.subsection h2 {
  font-family: "Noto Sans TC";
  margin: 0;
  padding: 2rem 0 1rem 0;
  /* font-family: "Lato"; */
  color: rgb(24, 77, 29);
}

.article-container {
  
  display: grid;
  grid-template: auto / 1fr 1fr;
}


/* article styling */

.article {
  margin: 1rem;
  border: 1px rgb(238, 238, 238) solid;
  box-shadow:1px 1px 5px rgb(218, 218, 218);
}

.article .info {
  display: flex;
  /* hacky but whatever */
  margin: 0.8rem;
  margin-right: 0.2rem;
  justify-content: space-between;
  align-items: flex-start;
}
.article a {
  text-align: start;
  font-size: 1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bookmark-icon {
  height: 35px;
  margin-left: 0.2rem;
}

.container {
  position: relative;
  width: 100%; /* The size you want */
}
.container:after {
  content: "";
  display: block;
  padding-bottom: 70%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.container img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}


.article a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-size: 1.3rem;
}

.article a:hover {
  color: rgb(98, 230, 87);
}

/* BOOKMARKS */
#bookmarks {
  margin: 2rem;
}

#bookmarks h2 {
  text-align: start;
}

.bookmark {
  background-color: white;
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
}
.bookmark .container {
  height: 120px;
  width: 120px;
  min-width: 130px;
  border: 1px rgb(221, 221, 221) solid;
}

.bookmark .category {
  width: 4rem;
  min-width: 4rem;
  color: rgb(24, 77, 29);
  font-weight: 600;
  margin: 0 1rem;
  padding: 0.5rem;
}

.bookmark a {
  text-decoration: none;
  outline: none;
  color: rgb(29, 29, 29);
  text-align: start;
}

.bookmark .delete {
  margin: 0 1rem;
  width: 25px;
  height: 25px;
  /* border: 1px solid; */
}


.title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* LOADING ICON */

.loading-icon {
  margin-top: 2rem;
}

.loading-icon span {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgb(118, 148, 165);
  animation-name: dots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.loading-icon span:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-icon span:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(5px);
  }
}



@media screen and (max-width: 768px) {
  .article-container  {
    grid-template: auto / 1fr;
  }
  #page-content {
    margin: 0 2% 0 2%;
  }
}
