.App {
  text-align: center;
  display: flex;
}

nav {
  position: sticky;
  top: 0;
  border: 2px purple solid;
  min-width: 300px;
  height: 100vh;
  overflow-y: auto;
}

.subsection {
  /* margin: 2rem; */
}

.article-container {
  
  display: grid;
  border: 2px blue solid;
  grid-template: auto / 1fr 1fr;
}

.article-container img{
  width: 100%;
}
